
/node_modules
.env
binaries/AscendaraDownloader/make-exe.bat
binaries/AscendaraGameHandler/make-exe.bat
/.vscode
/src/dist
/dist
build/main-build.js
binaries/AscendaraBackgroundTasks/make-exe.bat

/binaries/AscendaraGameHandler/dist
/binaries/AscendaraDownloader/dist

/binaries/AscendaraDownloader/build
/binaries/AscendaraGameHandler/build

binaries/AscendaraDownloader/AscendaraDownloader.spec
binaries/AscendaraGameHandler/AscendaraGameHandler.spec
package-lock.json
