# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Million Lint
.million
/src/translations/json
/binaries/AscendaraDownloader/build
/binaries/AscendaraGameHandler/build
*.spec
package-lock.json
exports.txt

# Environment
.env

# IDE
/.vscode

# OS files
*.bat
build/config.prod.js
build/icon.ico
/installer/build
/binaries/AscendaraCrashReporter/build