.progress-container {
  flex-grow: 1;
}

.font-bold {
  font-weight: bold;
}

.gradient-text {
  background: linear-gradient(90deg, #9f57d3, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* library.css */
.cards {
  flex: auto;
  display: flex;
  justify-content: space-between;
}

.downloadcards {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 18rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.library-container{
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.library-game-cards {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  gap: 15px;
}

.library-games-header{
  position: relative;
}

.library-games-header h1{
  font-size: 2rem;
  font-weight: bold;
}

.queue-container{
    width: 50rem;
}

.librarysearchbar{
  display: flex;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 20px;
  z-index: 9999;
  width: 30%;
}

.librarypagination {
  display: flex;
  position: fixed;
  top: 70px;
  right: 13rem;
  z-index: 9999;
}

.downloading-notification {
  position: fixed;
  bottom: 0;
  width: 30%;
  z-index: 9999;
  padding: 30px;
}
.downloading-notification h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.downloading-notification .next-card {
  margin-bottom: 10px;
}

.downloading-notification .next-card-header {
  justify-content: space-between;
  align-items: center;
}

.downloading-notification .next-card-body {
  justify-content: space-between;
  align-items: center;
}

.downloading-notification .next-card-footer {
  justify-content: space-between;
  align-items: center;
}

.downloading-notification .next-progress {
  margin-top: 10px;
}

.stopdownloadicon {
  position: fixed;
  
  cursor: pointer;
}


.librarytitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}