.cards {
  max-width: 300px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.fixed-icon-size {
  width: 18px;
  height: 18px;
}

.cardhover:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.browsingcards {
  border-radius: 10px;
  border: 1px solid #000;
}

.searchbox {
  position: fixed;
}

.scrollable-box {
  flex: 1;
  overflow-y: auto;
}

.news-container {
  padding: 10px;
  margin-bottom: 20px;
}

.games-list {
  scrollbar-width: none;
}

.games-list::-webkit-scrollbar {
  display: none;
}

.news-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.news-section h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.news-section p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
}
.news-section:hover {
  background-color: rgba(255, 255, 255, 0.1);
}